.main-header{
  background-color: #090909;
  /* position: relative; */
  /* display: flex; */
  height: 8vh;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 0 20px;
  color: white;
}

.header-layout{
  max-width: 1300px;
  height: 100%;
  /* flex: 1; */
  /* flex-grow: 1; */
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 0px; */
}

.header-layout span{
  flex: 1;
}

.header-layout span img{
  /* position: absolute; */
  width: 85px;
  /* top: 0; */
  /* left: 10px; */
}

.header-title{
  z-index: 1;
  position: relative;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.header-title .frenzy{
  color: rgb(199 67 67);
}

.nav-container{
  display: flex;
}

.nav-container ul{
  display: flex;
  justify-content: space-between;
  padding-inline: 0;
  margin: 0;
  /* border: 2px solid black; */

}

.nav-container li{
  list-style: none;
  padding: 10px;
  /* margin: 20px; */
  font-weight: 400;
}

.nav-container li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  /* margin-inline-end: 8px; */
  padding: 5px;
}

.nav-container li a:hover{
  border-radius: 10px;
  box-shadow: 0 0 19px 5px #c74343;;
}

.nav-container a:hover,
.nav-container a:active{
  /* color: #95bcf0; */
  padding-bottom: 0.25rem;
  /* border-bottom: 2px solid #070708; */
}